{:exercises [;; Bindings
             {:path "exercises/bindings/bindings1.clj" :mode :compile}
             {:path "exercises/bindings/bindings2.clj" :mode :compile}
             {:path "exercises/bindings/bindings3.clj" :mode :run}
             ;; Control Flow
             {:path "exercises/control_flow/if1.clj" :mode :test}
             {:path "exercises/control_flow/if2.clj" :mode :run}
             ;; Functions
             {:path "exercises/functions/functions1.clj" :mode :compile}
             {:path "exercises/functions/functions2.clj" :mode :compile}
             {:path "exercises/functions/functions3.clj" :mode :compile}
             {:path "exercises/functions/functions4.clj" :mode :compile}
             ;; Test 1
             {:path "exercises/test1.clj" :mode :test}
             ;; Scalars
             {:path "exercises/scalars/scalars1.clj" :mode :compile}
             {:path "exercises/scalars/scalars2.clj" :mode :compile}
             {:path "exercises/scalars/scalars3.clj" :mode :compile}
             {:path "exercises/scalars/scalars4.clj" :mode :test}
             {:path "exercises/scalars/scalars5.clj" :mode :test}
             {:path "exercises/scalars/scalars6.clj" :mode :test}
             ;; Reader
             {:path "exercises/reader/symbols1.clj" :mode :run}
             ;; Collections
             {:path "exercises/collections/lists1.clj"       :mode :run}
             {:path "exercises/collections/vectors1.clj"     :mode :run}
             {:path "exercises/collections/sets1.clj"        :mode :run}
             {:path "exercises/collections/maps1.clj"        :mode :run}
             {:path "exercises/collections/collections1.clj" :mode :compile}
             {:path "exercises/collections/collections2.clj" :mode :test}
             {:path "exercises/collections/collections3.clj" :mode :test}
             {:path "exercises/collections/collections4.clj" :mode :run}
             ;; Testing
             {:path "exercises/testing/testing1.clj" :mode :test}
             {:path "exercises/testing/testing2.clj" :mode :test}
             {:path "exercises/testing/testing3.clj" :mode :test}
             ;; Test 2
             {:path "exercises/test2.clj" :mode :test}
             ;; Strings
             {:path "exercises/strings/strings1.clj" :mode :test}
             {:path "exercises/strings/strings2.clj" :mode :test}
             ;; Namespaces
             {:path "exercises/namespaces/require1.clj" :mode :test}
             {:path "exercises/namespaces/require2.clj" :mode :test}
             {:path "exercises/namespaces/require3.clj" :mode :test}
             {:path "exercises/namespaces/namespaces1.clj" :mode :test}
             {:path "exercises/namespaces/namespaces2.clj" :mode :test}

             ;; Macros
             
             ;; Test?
             
             ;; Unsorted Topics
             ;; ---------------
             ;; Sequences
             ;; Functional Programming
             ;; Transducers
             ;; Specs
             ;; Destructuring
             ;; Concurrency
             ;; Protocols
             ;; Multimethods
             ;; Java
             ;; Error handling
             ]}
